<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<!-- run this for executing your testcases in Parallel -->
<suite name="Parallel Automation Run" thread-count="1" parallel="methods">
	<test name="parallelTesting">
		<classes>
			<class name="Test.TestAddingComputer"/>
			<class name="Test.TestEditComputer"/>
			<class name="Test.TestHomePage"/>
		</classes>
		</test>
</suite>